@import './_variable';

.carousel {
    max-width: $max-width;
    margin: $margin-center;
    margin-top: 50px;
    padding: 30px;
    border-radius: 30px;
    background-color: $white-color;
    overflow: hidden;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden.mySwiper {
    width: 100%;
}

@media only screen and (max-width: 46.1875em) {
    .swiper-slide {
        max-width: 220px;
        margin-right: 10px;
    }
}
